table#cart {
    width:100%;
    border-collapse:collapse;
  }
  
  table#cart th,
  table#cart td {
    padding:.5em;
  }
  
  table#cart td {border:1px solid;}
  
  table#cart tfoot {
    background:rgb(0, 255, 213);
  }
  
  input {font:20px;}
  
  .btn {
    display:inline-block;
    padding: 6px 12px;
    font-size:15px;

    /* NoWrap = Configure the text to avoid string breaking on the cell */
    /* white-space: nowrap; */
    cursor: pointer;
    border-radius:4px;
  }

  .btn-success {
    color: rgb(255, 255, 255);
    background-color: rgb(102, 189, 94);
    border-color: rgb(0, 0, 0);
  }
  .btn-delete {
    color: rgb(255, 255, 255);
    background-color: rgb(197, 0, 0);
    border-color: rgb(255, 255, 255);
  }
  
  h1,
  h2 {text-align:center;}