
<!-- Using React BIND -->

<html lang="pt-br">
    <head>
        <title>
            Remote studies
        </title>
        <script>
            function remoteStudy(){
                let courseHours = 120;
                console.log(this);
            }
            let remotePlanRequisites={
                internet: '2MB or faster',
                technology: 'PC/Notebook',
                availableHours: 8,
                webcam: 'Any webcam model',
                frequency: 'Higher than 75%',
                finalMention: 'Higher than 5'
            }
            let linkRemoteStudyRequisites = remoteStudy.bind(remotePlanRequisites);
            linkRemoteStudyRequisites();
        </script>
    </head>
</html>